.project-list {
  display: grid;
  row-gap: 22px;

  @screen lg {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 36px;
  }
}

.project-list__card:hover {
  transform: translateY(-6px);
}
