@import './variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    @apply text-blue-600 dark:text-yellow-600;
    font-size: 28px;

    @screen md {
      font-size: 36px;
    }

    @screen lg {
      font-size: 42px;
    }
  }

  p,
  li {
    @apply text-slate-950 dark:text-slate-400;
    font-size: 16px;

    @screen md {
      font-size: 18px;
    }
  }

  ul {
    list-style: none;
  }

  a {
    @apply text-blue-800 dark:text-white;
    font-size: 16px;
    text-decoration: none;

    @screen md {
      font-size: 18px;
    }
  }
}

.fit {
  margin: auto;
  max-width: 1024px;
}
